
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model List<BusBookingSystem.Models.Route>

@{ 
    BusBookingSystem.Models.BbsDbContext db = new BusBookingSystem.Models.BbsDbContext();
}

<main>
    <h2 class="h4 mb-3">Routes</h2>

    <p>
        <a href="@Url.Action("Create")" class="btn btn-success"><i class="fa fa-plus"></i></a>
    </p>

    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Bus Route Id</th>
                <th>Source</th>
                <th>Boarding</th>
                <th>Destination </th>
                <th>Dropping</th>
                <th>Bus Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RouteId</td>
                    <td>@item.SourceBusStopId</td>
                    <td>@item.SourceBusStop</td>
                    <td>@item.DestinationBusStopId</td>
                    <td>@item.DestinationBusStop</td>
                    <td>
                        @{ 
                            BusBookingSystem.Models.BusInfo a = db.BusInfos.Find(item.BusId);
                        }
                        @a.BusName
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new {id=item.RouteId})" class="btn btn-primary"><i class="fa fa-edit"></i></a>

                        <a href="@Url.Action("Delete", new {id=item.RouteId})" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

