@model BusBookingSystem.Models.Schedule

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 class="text-center">Delete</h2>
<h3 class="text-center">Are you sure you want to delete this?</h3>
<hr />
<style>
    .jumbotron {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
    }

    .login-box {
        width: 40%;
    }

 

    .form-actions {
        padding-left: 80px;
    }
</style>

<div class="jumbotron">
    <div class="login-box shadow rounded p-5">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RouteId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RouteId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BusInfo.BusName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BusInfo.BusName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SourceBusStop)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SourceBusStop)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DestinationBusStop)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DestinationBusStop)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BusDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BusDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepartureTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepartureTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ArrivalTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
        </div>
    </div>
