
@{
    ViewBag.Title = "SearchSchedule";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@model List<BusBookingSystem.Models.Schedule>

<style>

    body{
        background-color:#f0f3ff;
    }
    .bus-card {
        border: 1px solid black;
        margin: 10px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        display: flex;
        justify-content: space-between;
        background-color:white;
    }

    .bus-info {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .book-btn {
        background-color: #04265E;
        color: white;
        padding: 5px 20px;
        border: none;
        border-radius: 5px;
    }

    .source, .destination {
        font-weight: 600;
    }

    i {
        padding-top: 15px;
    }
</style>

<div>

    <h4 class="text-center pt-3 pb-3">Bus Schedules</h4>

    @if (Model.Count() > 0)

    {

        BusBookingSystem.Models.BbsDbContext db = new BusBookingSystem.Models.BbsDbContext();

        foreach (var item in Model)

        {

            <div class="bus-card">

                <div class="busname ps-3 pt-3">

                    @{

                        BusBookingSystem.Models.BusInfo al = db.BusInfos.Find(item.BusId);

                    }

                    @al.BusName

                </div>

                <div class="bus-info">

                    <span class="departuretime">@item.DepartureTime</span>

                    <br />

                    <span class="source">@item.SourceBusStop</span>

                </div>

                <i class="fa fa-long-arrow-right"></i>

                <div class="bus-info">

                    <span class="arrivaltime">@item.ArrivalTime</span>

                    <br />

                    <span class="destination">@item.DestinationBusStop</span>


                </div>

                <div class="action">

                    <div class="price px-3 pb-1">

                        &#8377 @item.Price

                    </div>

                    @if (item.BusDate > DateTime.Now)

                    {

                        @Html.ActionLink("Select", "Create", "Booking", new { id = item.ScheduleId }, new { @class = "nav-link book-btn" })

                    }

                    else

                    {

                        <p>Choose a valid date</p>

                    }

                </div>

            </div>

        }
    }

    else

    {

        <p>No Schedule Found</p>

    }

</div>

